.head-text {
   position: relative;
}

.text-on-image {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Apple Chancery, cursive;
    color: green;
    font-weight: 1000;
}

/* Most smart phones */
@media only screen and (max-device-width : 700px) and (min-device-width : 300px) {
  .head-image {
    max-height: 40vw;
  }

  .text-on-image {
    font-size: 8vw;
  }
}

/* Laptop/desktops */
@media only screen and (min-device-width : 700px) {
  .head-image {
    max-height: 15vw;
  }

  .text-on-image {
    font-size: 3vw;
  }
}

/* Nokia */
@media only screen and (max-device-width : 300px) {
  .head-image {
    max-height: 30vw;
  }

  .text-on-image {
    font-size: 3vw;
  }
}
