.head-text {
   position: relative;
}

.head-image {
  margin-top: 3vh;
  max-height: 25vh;
  width: 25vh;
}

.text-on-image {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Apple Chancery, cursive;
  color: green;
  font-weight: 1000;
  font-size: 3vh;
}
