.profile {
    font-family: Apple Chancery, cursive;
    color: #EEE2E4;
    font-weight: bold;
    text-align: center;
    align-self: center;
}

.button {
    text-align: center;
    align-self: center;
}

/* Computers */
@media only screen and (min-device-width : 1000px) {
.profile {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 3vw;
  }

  .button {
    height: 5vw;
  }
}

/* Smart phones */
@media only screen 
and (max-device-width : 1000px) {
  .profile {
    margin-top: 3vh;
    margin-bottom: 5vh;
    font-size: 8vw;
  }

  .button {
    height: 10vw;
    text-align: center;
    align-self: center;
    color: #EEE2E4;
  }
}
