.profile {
  font-family: Apple Chancery, cursive;
  color: #EEE2E4;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  align-self: center;
  font-size: 4.5vh;
}

.button {
  height: 5vh;
  align-self: center;
  color: #EEE2E4;
}

.number-of-mentions {
  text-align: right
}
