.profile {
  margin-bottom: 1em;
  justify-content: center;
  text-align: center;
  font-size: 5em;
  gap: 1em;
}

.button {
  height: 5em;
  align-self: center;
}

.number-of-mentions {
  text-align: right
}
