.audit {
  font-family: Apple Chancery, cursive;
  font-weight: 1000;
}

.audit-body {
  margin: 5vh;
  font-family: serif;
  font-size: 5vh;
  color: #EEE2E4;
  text-align: center;
  align-self: center;
}

.audit-header {
  margin: 5vh;
  font-size: 12vh;
  color: #EEE2E4;
  text-align: center;
  align-self: center;
}

.home-button {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin-bottom: 1vh;
  color: #DCBE97;
}
